webServices/gestion_transactions/wsdl/transaction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://example.com/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="TransactionService"
                  targetNamespace="http://example.com/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">

    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/">
            <xsd:element name="CreateTransactionRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="from_account_id" type="xsd:int"/>
                        <xsd:element name="to_account_id" type="xsd:int"/>
                        <xsd:element name="montant" type="xsd:decimal"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreateTransactionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CreateTransactionRequestMessage">
        <wsdl:part name="parameters" element="tns:CreateTransactionRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateTransactionResponseMessage">
        <wsdl:part name="parameters" element="tns:CreateTransactionResponse"/>
    </wsdl:message>

    <wsdl:portType name="TransactionServicePortType">
        <wsdl:operation name="CreateTransaction">
            <wsdl:input message="tns:CreateTransactionRequestMessage"/>
            <wsdl:output message="tns:CreateTransactionResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="TransactionServiceBinding" type="tns:TransactionServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateTransaction">
            <soap:operation soapAction="http://example.com/CreateTransaction"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="TransactionService">
        <wsdl:port name="TransactionServicePort" binding="tns:TransactionServiceBinding">
            <soap:address location="http://localhost:8000/transactions/wsdl/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
